<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN" "http://java.sun.com/j2ee/dtds/web-app_2.2.dtd">
<web-app>
    <!-- définition de la vue à activer par défaut au lancement de l'application -->
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>

    <!-- paramètres de l'application web : pour le controleur -->
    <!-- liste des commandes -->

    <context-param>
        <param-name>cmd-participants</param-name>
        <param-value>bdd.CommandeParticipants;participants.jsp;all</param-value>
    </context-param>

    <context-param>
        <param-name>cmd-epreuves</param-name>
        <param-value>bdd.CommandeEpreuves;epreuves.jsp;all</param-value>
    </context-param>

    <context-param>
        <param-name>cmd-epreuvesId</param-name>
        <param-value>bdd.CommandeTrierEpreuvesIdE;epreuves.jsp;all</param-value>
    </context-param>

    <context-param>
        <param-name>cmd-epreuvesNom</param-name>
        <param-value>bdd.CommandeTrierEpreuvesNom;epreuves.jsp;all</param-value>
    </context-param>

    <context-param>
        <param-name>cmd-epreuvesCateg</param-name>
        <param-value>bdd.CommandeTrierEpreuvesCateg;epreuves.jsp;all</param-value>
    </context-param>

    <context-param>
        <param-name>cmd-epreuvesDateP</param-name>
        <param-value>bdd.CommandeTrierEpreuvesDateP;epreuves.jsp;all</param-value>
    </context-param>

    <context-param>
        <param-name>cmd-epreuvesTarifClub</param-name>
        <param-value>bdd.CommandeTrierEpreuvesTarifClub;epreuves.jsp;all</param-value>
    </context-param>

    <context-param>
        <param-name>cmd-epreuvesTarifNonClub</param-name>
        <param-value>bdd.CommandeTrierEpreuvesTarifNonClub;epreuves.jsp;all</param-value>
    </context-param>

    <context-param>
        <param-name>cmd-inscriptions</param-name>
        <param-value>bdd.CommandeInscriptions;inscriptions.jsp;all</param-value>
    </context-param>

    <context-param>
        <param-name>cmd-inscription1</param-name>
        <param-value>bdd.CommandeTrierInscriptions;inscriptions.jsp;all</param-value>
    </context-param>

    <context-param>
        <param-name>cmd-inscription2</param-name>
        <param-value>bdd.CommandeTrierInscriptionsIdE;inscriptions.jsp;all</param-value>
    </context-param>

    <context-param>
        <param-name>cmd-inscription3</param-name>
        <param-value>bdd.CommandeTrierInscriptionsCateg;inscriptions.jsp;all</param-value>
    </context-param>

    <context-param>
        <param-name>cmd-participantId</param-name>
        <param-value>bdd.CommandeTrierParticipantsIdp;participants.jsp;all</param-value>
    </context-param>

    <context-param>
        <param-name>cmd-participantNom</param-name>
        <param-value>bdd.CommandeTrierParticipantsNom;participants.jsp;all</param-value>
    </context-param>

    <context-param>
        <param-name>cmd-participantAge</param-name>
        <param-value>bdd.CommandeTrierParticipantsAge;participants.jsp;all</param-value>
    </context-param>

    <context-param>
        <param-name>cmd-participantAge</param-name>
        <param-value>bdd.CommandeTrierParticipantsAge;participants.jsp;all</param-value>
    </context-param>

    <context-param>
        <param-name>cmd-inscription</param-name>
        <param-value>bdd.CommandeParticipants;inscriptions.jsp;all</param-value>
    </context-param>

    <context-param>
        <param-name>cmd-inscriptionEpreuves</param-name>
        <param-value>bdd.CommandeEpreuves;inscriptions.jsp;all</param-value>
    </context-param>

    <context-param>
        <param-name>cmd-inscriptionEpreuve</param-name>
        <param-value>bdd.CommandeInscriptions;epreuves.jsp;all</param-value>
    </context-param>

    <context-param>
        <param-name>cmd-inscriptionParticipant</param-name>
        <param-value>bdd.CommandeParticipants;participants.jsp;all</param-value>
    </context-param>

    <context-param>
        <param-name>cmd-ajoutParticipant</param-name>
        <param-value>bdd.CommandeParticipants;ajoutParticipant.jsp;admin</param-value>
    </context-param>

    <context-param>
        <param-name>cmd-deconnect</param-name>
        <param-value>bdd.NullCommande;deconnexion.jsp;all</param-value>
    </context-param>

    <!-- commande pour obtenir la page d'accueil -->
    <context-param>
        <param-name>cmd-accueil</param-name>
        <param-value>bdd.NullCommande;accueil.jsp;all</param-value>
    </context-param>

    <!-- commande qui permet après une tentative de connexion de valider ou non la connexion -->
    <context-param>
        <param-name>cmd-login</param-name>
        <param-value>bdd.CommandeVerifLogin;accueil.jsp;all</param-value>
    </context-param>

    <!-- commande qui permet d'obtenir le formulaire de connexion -->
    <context-param>
        <param-name>cmd-connexion</param-name>
        <param-value>bdd.NullCommande;login.jsp;all</param-value>
    </context-param>

    <!-- commande qui permet, en mode connecté, d'obtenir la page
    erreurDroit.jsp suite à une requête directe vers une JSP
    ou une requête vers le controleur pour une commande dont
    le droit n'est pas compatible avec celui de la personne connectée
    -->
    <context-param>
        <param-name>cmd-erreurDroit</param-name>
        <param-value>bdd.NullCommande;erreurs/erreurDroit.jsp;all</param-value>
    </context-param>

    <!-- déclaration de la servlet qui fait le controle de session -->
    <servlet>
        <servlet-name>controleSession</servlet-name>
        <servlet-class>ControleSession</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>controleSession</servlet-name>
        <url-pattern>/controleSession</url-pattern>
    </servlet-mapping>

    <!-- déclaration du controleur -->
    <servlet>
        <servlet-name>controleur</servlet-name>
        <servlet-class>Controleur</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>controleur</servlet-name>
        <url-pattern>/controleur</url-pattern>
    </servlet-mapping>
</web-app>
